

#header
{
    width: 100%;
    background-color: lightblue;
    padding: 20px;
}
#footer
{
    background-color: lightgray;
    color: black;
    padding: 20px;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
#content
{
    padding: 20px;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:navy;
    text-align: center;
}

#adminheader
{
    width: 100%;
    height: 100px;
    background-color: lightgreen;
    color: green;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

#admincontainer
{
    display: flex;
    justify-content: space-between;
}
#adminmenu
{
    width: 15%;
    padding: 20px;
    background-color: black;
}
#admindata
{
    width: 85%;
    padding: 20px;
}
.adminmenu
{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#empheader
{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(161, 221, 161);
    color: green;
    padding-top: 20px;
}

#empcontainer
{
    display: flex;
    justify-content: space-between;
}
#empmenu
{
    width: 15%;
    padding: 20px;
    background-color: rgb(26, 97, 26);
    color: white;
}
#empdata
{
    width: 85%;
    padding: 20px;
    font-size: 20px;
}
.menucolor
{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
}